.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.preview {
  width: 640px;
  height: 360px;
  position: relative;
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 30px;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.img-container > div > img {
  transform: scale(.8);
  border: 1px solid gray;
}


button {
  height: 40px;
  min-width: 100px;
  font-size: 24px;
}